<form action="/loginWriter" method="post">
  <input
    type="text"
    value="<%- email %>"
    placeholder="Enter your email"
    name="email"
  />
  <input type="text" placeholder="Enter your password" name="password" />

  <input type="submit" value="login" />
</form>
